.scoreBoard {
  position: absolute;
}

#p1Score {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 38px;
  text-align: center;
  font-size: 20px;
  float: left;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 80px;
  display: inline;
}

#p2Score {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 38px;
  text-align: center;
  font-size: 20px;
  float: right;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 20px;
  width: 80px;
  display: inline;
}


.bullet {
  height: 1px;
  width: 1px;
  background-color: orange;
  padding: 4px;
  margin: auto;
  display:inline;
  position:absolute;
  top: 19px;
  left:50px;
}

.eBullet {
  height: 1px;
  width: 1px;
  background-color: red;
  padding: 4px;
  margin: auto;
  display:inline;
  position:absolute;
  top: 19px;
  left:50px;
}
.green {
 background-color: green;
}

.red {
  background-color: red;
}

#p1 {
  height: 20px;
  width: 50px;
  position: absolute;
  background-image: url(player1.png);
  top: 200px;
  left:0;
}

#p2 {
  height: 20px;
  width: 50px;
  background-image: url(player2.png);
  position: absolute;
  top: 300px;
  left:0;
}

.enemy {
  height: 20px;
  width: 50px;
  background-image: url(enemy.png);
}

#enemy1{
  position:absolute;
  top: 50px;
  left: 500px;
}
#enemy2{
  position:absolute;
  top: 380px;
  left: 700px;
}
#enemy3{
  position:absolute;
  top: 385px;
  left: 900px;
}
#enemy4{
  position:absolute;
  top: 70px;
  left: 600px;
}
#enemy5{
  position:absolute;
  top: 350px;
  left: 800px;
}
#enemy6{
  position:absolute;
  top: 120px;
  left: 1000px;
}
#enemy7{
  position:absolute;
  top: 283px;
  left: 1200px;
}
#enemy8{
  position:absolute;
  top: 95px;
  left: 1250px;
}
#enemy9{
  position:absolute;
  top: 342px;
  left: 1300px;
}
 #enemy10{
  position:absolute;
  top: 400px;
  left: 1400px;
}

#enemy11 {
  position:absolute;
  top: 50px;
  left: 1450px;
  height: 400px;
  width: 600px;
  background-image: url(Boss.png);
}

.start {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px 38px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  position: absolute;
  left: 270px;
  top: 200px;
}

.gameConsole {
  margin:auto;
  position:relative;
  background-image: url(space.png);
  height: 500px;
  width: 2000px;
  top: 60px;
}
